@inherits LayoutComponentBase
@layout AccountLayout

<section class="account-details">
    <div class="container">

        <aside>
            <Frontend_B.Components.Sections.AccountProfileAvatar />
            <ManageNavMenu />
        </aside>
        <div class="content">
            @Body
        </div>

    </div>
</section>
